<template>
  <div class="container">
        <div class="jumbotron jumbotron-fluid text-center mt-5">
            <div class="container">
                <h1 class="display-4">Inertia</h1>
                <p class="lead">
                    <inertia-link :href="$route('posts.index')">Posts</inertia-link>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "Welcome",
}
</script>
