<template>
    <div>
        <div class="container mt-5">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="alert alert-danger" v-if="error('post.title','post.')" role="alert">
                    {{error('post.title','post.')}}
                </div>
                <div class="alert alert-danger" v-if="error('post.author','post.')" role="alert">
                    {{error('post.author','post.')}}
                </div>
                <div class="alert alert-danger" v-if="error('post.body','post.')" role="alert">
                    {{error('post.body','post.')}}
                </div>
                <h5 class="card-title pb-1">Create Post</h5>

                <div class="form-group">
                    <label for="titleInput">Title:</label>
                    <input type="text" class="form-control" id="titleInput" v-model="postData.title">
                </div>

                <div class="form-group">
                    <label for="AuthorTitle">Author:</label>
                    <input type="text" class="form-control" id="AuthorTitle" v-model="postData.author">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                            v-model="postData.body"></textarea>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="postData.private">
                    <label class="form-check-label" for="exampleCheck1">Private</label>
                </div>

                <button type="submit" class="btn btn-primary" @click="createPost">Create Post</button>
        </div>
    </div>
</div>
    </div>
</template>

<script>
export default {
    props: {
        store_url:{
            type: String,
            required:true,
        },
    },
    data(){
        return {
            postData: {
                title: '',
                author: '',
                private: 0,
            },
        }
    },
    methods:{
        createPost(){
            this.postData.private = this.postData.private ? 1 : 0;
            this.$inertia.post(this.store_url, { post:this.postData }, {
                replace: false,
                preserveState: true,
                preserveScroll: false,
                only: [],
            });
        },
    },
    mounted(){
        //  if(this.$page.errors){
        //      console.log(this.$page.errors)
        //  }
    }
}
</script>

