<template>
    <div>
        <div class="container">
            <inertia-link :href="$route('posts.create')" :class="'btn w-100 btn-light shadow mt-2 p-4 bg-white rounded'">Create</inertia-link>
            <div class="card shadow p-3 mb-5 mt-3 bg-white rounded" style="" v-for="post in posts" :key="post.id">
                <div class="card-body">
                    <h5 class="card-title pb-1">Title: {{post.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted pb-1">Author: {{post.author}}</h6>
                    <div class="card-text">
                        <div v-if="post.private">
                            <p class="font-weight-bold">Private Content</p>
                        </div>
                        <div v-else>
                            {{post.body}}
                            <div class="mt-4">
                                <a class="btn w-100 btn-light mb-3 shadow p-4 bg-white rounded" :href="post.edit_url">Edit</a>
                                <a class="btn w-100 btn-light mb-3 shadow p-4 bg-white rounded" @click="deletePost(post.id)">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        posts:{
            type: Array,
            required:true,
        },
    },
    methods:{
        deletePost(postId){
            this.$inertia.delete(this.$route('posts.delete',postId),{
                replace: false,
                preserveState: true,
                preserveScroll: false,
                only: [],
            })
        }
    }
}
</script>
